<template>
  <div class="home">
    <h1>MAP TEST</h1>

    <div class="row">
      <div class="col">
        <settings :layers="layers" />
      </div>
      <div class="col">
        <h3>выбранный объект:</h3>

        <div v-if="selected.feature != false">

          <div>ID: {{selected.feature.getId()}}</div>
          <div>Type: {{selected.feature.getGeometry().getType()}}</div>

        </div>

      </div>
    </div>

    <div>

      <vl-map @click="onMapClicked($event)" :load-tiles-while-animating="true" :load-tiles-while-interacting="true"
              data-projection="EPSG:4326"  style="height: 400px">
        <vl-view :zoom.sync="zoom" :center.sync="center" :rotation.sync="rotation"></vl-view>


        <vl-layer-tile id="osm">
          <vl-source-osm></vl-source-osm>
        </vl-layer-tile>

        <vl-layer-vector>
          <vl-source-vector :features.sync="features" ></vl-source-vector>
        </vl-layer-vector>

        <component v-for="layer in layers" :is="layer.cmp" v-bind="layer">
          <component :is="layer.source.cmp" v-bind="layer.source">

          </component>
        </component>


      </vl-map>


    </div>
  </div>
</template>

<script>
import Settings from "@/components/Settings.vue";

import TileLayer from "vuelayers"
import OSM from "vuelayers"
import TileWMS from "vuelayers"
import View from "vuelayers"

export default {
  name: "home",
  methods:{
    onMapClicked(event) {
        var _this = this;

        event.map.forEachFeatureAtPixel(event.pixel, function(feature,layer) {

            _this.selected.layer = layer;
            _this.selected.feature = feature;

            console.log(feature.getProperties());
            console.log(layer.get('attributes'));

        });
    }
  },
  mounted () {

  },
  data () {
      return {

          selected: {
              layer:false,
              feature:false,
          },

          zoom: 2,
          center: [0, 0],
          rotation: 0,
          geolocPosition: undefined,


          layers: [
              // Tile layer with WMS source
              {
                  opacity:0.9,
                  'z-index':0,
                  id: 'wms',
                  title: 'WMS',
                  cmp: 'vl-layer-tile',
                  visible: true,
                  source: {
                      cmp: 'vl-source-wms',
                      url: 'https://ahocevar.com/geoserver/wms',
                      layers: 'topp:states',
                      extParams: { TILED: true },
                      serverType: 'geoserver',
                  },
              },
              {
                  opacity:1,
                  'z-index':0,
                  id: 'countries',
                  title: 'Countries',
                  cmp: 'vl-layer-vector',
                  visible: true,
                  source: {
                      cmp: 'vl-source-vector',
                      url: 'https://openlayers.org/en/latest/examples/data/geojson/countries.geojson',
                  },
              },
              {
                  opacity:0.9,
                  'z-index':0,
                  id: 'wmts',
                  title: 'WMTS',
                  cmp: 'vl-layer-tile',
                  visible: true,
                  source: {
                      cmp: 'vl-source-wmts',
                      url: 'https://services.arcgisonline.com/arcgis/rest/services/Demographics/USA_Population_Density/MapServer/WMTS/',
                      layerName: '0',
                      matrixSet: 'EPSG:3857',
                      format: 'image/png',
                      styleName: 'default',
                  },
              },
          ],


          features:[
              {
                  type: "Feature",
                  id:'1',
                  attributes: {
                      title:'Круг',
                  },
                  geometry: {
                      type: 'Point',
                      coordinates: [-25, 30],
                  },
              },
              {
                  type: "Feature",
                  id: '2',
                  attributes: {
                      title:'Полигон',
                  },
                  geometry: {
                      type: 'Polygon',
                      coordinates: [
                          [
                              [
                                  -23,
                                  45,
                              ],
                              [
                                  -49,
                                  33,
                              ],
                              [
                                  -47,
                                  23,
                              ],
                          ],
                      ],
                  },
              },
          ]
      }
  },
  components: {
      Settings
  }
};
</script>


<style>
  .row:after {
    clear: both;
    content: '';
    display: block;
  }
  .col {
    float: left;
    width: 50%;
  }
</style>