<template>
  <div class="home">


    <button @click="saveMap">Скачать картинку</button>

    <h3>Список слоев:</h3>
    <ul>
      <li v-for="(layer, index) in layers">
        <span>{{layer.title}}</span>
        <span>(zindex: {{layer['z-index']}})</span>
        <a href="#" @click="moveUp(index);return false;">выше</a> |
        <a href="#" @click="layer.visible = !layer.visible; return false;">
          <span v-if="layer.visible">спрятать</span>
          <span v-else>показать</span>
        </a>
        <span>прозрачность:</span><span><input  v-model.number="layer.opacity" step="0.1" max="1" ></span>
      </li>
    </ul>

  </div>
</template>

<script>


export default {
  name: "Settings",
  methods:{
    moveUp(index) {

        this.layers[index]['z-index'] += 1;

    },
    saveMap() {

        var map = this.$refs.map.$map;
        map.once('rendercomplete', function(event) {
            var canvas = event.context.canvas;
            if (navigator.msSaveBlob) {
                navigator.msSaveBlob(canvas.msToBlob(), 'map.png');
            } else {
                canvas.toBlob(function(blob) {
                    saveAs(blob, 'map.png');
                });
            }
        });
        map.renderSync();
    }
  },
  mounted () {

  },
  props: ['layers'],
  components: {
  }
};
</script>

<style lang="scss">
  li span {
    width: 100px;
    display: inline-block;


    input {
      width: 50px;
    }
  }

</style>
